# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: windows-latest

variables:
  folderName: 'al3xFolder'

steps:
- task: UiPathInstallPlatform@3
  inputs:
    cliVersion: 'WIN_22.10.8438.32859'

- task: UiPathPack@3
  inputs:
    versionType: 'AutoVersion'
    projectJsonPath: 'VoidProject\project.json'
    orchestratorConnection: 'CI Plugins connection'
    outputPath: '$(Build.ArtifactStagingDirectory)\Output'
    traceLevel: 'Information'

- script: ls
  displayName: 'list files in working dir'

- task: UiPathTest@3
  inputs:
    testTarget: 'TestProject'
    testProjectPath: 'VoidProject\project.json'
    orchestratorConnection: 'CI Plugins connection'
    folderName: $(folderName)

- task: UiPathDeploy@3
  inputs:
    orchestratorConnection: 'CI Plugins connection'
    packagesPath: '$(Build.ArtifactStagingDirectory)\Output'
    folderName: $(folderName)
    traceLevel: 'Information'

- task: UiPathRunJob@3
  inputs:
    orchestratorConnection: 'CI Plugins connection'
    processName: 'VoidProject_Main.xaml'
    folderName: '$(folderName)'
    traceLevel: 'Information'